<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <script src="/public/main.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="d-flex align-items-center justify-content-center">
      <div style="width: 75%; height: 88%;" class="container-el">
        <form action="/encode" method="post" id="urlEncodeForm">
          <label for="raw-text" id="text">Text to encode</label><br>
          <textarea name="raw-text" id="raw-text"></textarea><br>
          <button type="submit" class="btn btn-success">Encode</button>
          <button type="button" class="btn btn-danger" onclick="clearText(document)">Clear</button>
          <br><br>
        </form>
        <label for="encoded" id="text" >Encoded text</label><br>
        <textarea name="encoded" id="encoded"></textarea><br>
        <button type="button" class="btn btn-primary" onclick="copyText(document)">Copy</button>
      </div>
    </div>
  </body>
  <script>
    const formEl = document.querySelector("#urlEncodeForm");
    formEl.addEventListener("submit", event => {
      event.preventDefault();
      const formData = new FormData(formEl);
      const data = Object.fromEntries(formData);

      fetch("/encode", {
        method: "POST",
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      }).then(response => { return response.json() })
        .then(success => { 
          const textArea = document.getElementById("encoded");
          textArea.value = success.success
        })
        .catch(error => { console.log(error) });
    });
  </script>
</html>
