<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/public/style.css">
  <title>Document</title>
</head>
<body>
  <div>
    <form>
      <label for="raw-text">Text to encode:</label><br>
      <textarea name="raw-text" id="raw-text"></textarea><br><br>
      <button type="submit">Encode</button>
      <button>Copy</button>
      <button>Clear</button>
      <br><br>
      <label for="encoded">Encoded text:</label><br>
      <textarea name="encoded" id="encoded" style="height: 220px; width: 100%;"></textarea><br><br>
    </form>
  </div>
</body>
</html>
