body {
  background-color: #181c1f;
}

#text {
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: large;
}

#raw-text {
  height: 220px;
  width: 99%;
  resize: vertical;
  background-color: #22272e;
  color: #ffffff;
}

#encoded {
  height: 220px;
  width: 99%;
  resize: vertical;
  background-color: #22272e;
  color: #ffffff;
}
