body {
  background-color: #181c1f;
}

#text {
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: large;
}

#raw-text {
  height: 220px;
  width: 99%;
  resize: vertical;
  background-color: #22272e;
  color: #ffffff;
  border-color: #3937cd;
  font-size: 16px;
  line-height: 20px;
}

#encoded {
  height: 220px;
  width: 99%;
  resize: vertical;
  background-color: #22272e;
  color: #ffffff;
  border-color: #3937cd;
  font-size: 16px;
  line-height: 20px;
}

.container-el {
  padding-top: 20px;
}
